.detailCont{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.detailCont2{
    height: fit-content;
}
.detailCont2 img{
    width: 400px;
}
.setWidth{
    max-width: 650px;
}
.chip{
    border-radius: 20px;
    padding: 10px 15px;
    background-color: rgb(11 96 224);
    cursor: pointer;
}
.favCont{
    /* background-color: rgba(255, 255, 255, 0.363); */
    background-color: rgba(5, 1, 78, 0.433);
    padding: 10px 15px;
    border-radius: 5px;
}
.favIcon:hover{
    cursor: pointer;
}