.textArea{
    width: 90%;
    margin:10px auto;
    height: 200px;
    border-radius: 5px;
}
.reviewSubCont{
    background-color: rgba(11, 96, 224, 0.089);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid rgb(11 96 224);
    position: relative;
}
.dltIcon{
    font-size: 20px;
    cursor: pointer;
    color: red;
    z-index: 3;
    right: 2px;
    top: 2px;
}