.cardCont{
    width: 250px;
    height: 300px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.setMediaCategory{
    padding: 10px;
    padding-bottom: 50px;
}

.categoryHeadDiv{
    width: 250px;
    height: 50px;
    padding: 10px;
    border: 1px solid #020e59;
    border-radius: 15px;
    background-color: #020e5962;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.expandIcon{
    cursor: pointer;
    font-size: 20px;
}