.registerCont{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.registerSubCont{
    position: relative;
    background-color: rgba(0, 0, 0, 0.785);
    border-radius: 5px;
    box-shadow: 2px 2px 6px white;
    width: fit-content;
    padding: 20px;
    height: fit-content;
    z-index: 6;
}

.createGroup {
    position: relative;
    width: 400px;
}

.createInput {
    border: solid 1.5px #9e9e9e;
    border-radius: 15px;
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 10px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.createInput:focus {
    outline: none;
    border: 1.5px solid rgb(255, 0, 0);
}

.createInput:focus~label,.labell~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: rgb(255, 0, 0);
}


.registerDown{
    color: white;
    text-align: center;
}

.registerDown span{
    color: rgb(255, 0, 0);
    cursor: pointer;
    text-decoration: underline;
}

.cross{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.Danger{
    background-color: rgb(11 96 224);
    color: white;
    font-weight: 500;
  }
.Danger:hover{
    background-color: rgba(11, 96, 224, 0.634);
    color: white;
    font-weight: 500;
}

@media screen and (max-width:700px){
    .createGroup{
        width: 90%;
    }
    .registerSubCont{
        width: 90%;
    }
}