 body{
    background-color: black;
    font-family: 'Roboto Slab', serif;
    /* font-family: 'PT Serif', serif; */
 }

  .searchBox input::placeholder{
    color: white;
    font-size: 15px;
  }

.registerBtn{
  color: rgb(0, 88, 220);
  font-size: 30px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.408);
}
.loginBtn{
  color: red;
}
  .Danger,.Danger:focus{
    background-color: rgb(11 96 224);
    color: white;
    font-weight: 500;
  }
  .Danger:hover{
    background-color: rgba(255, 0, 0, 0.49);
    color: white;
    font-weight: 500;
}

.navDesign{
  position: absolute;
  top: 0;
  z-index: 4;
}
.Dark_mode,.Light_mode{
  cursor: pointer;
  font-size: 30px;
  color: #001673;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.299);
}
.Light_mode{
  color: #970202;
}

.searchBox{
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #0104188f;
  max-width: 300px;
  color: white;
}

.searchBox input{
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
}

input:hover, input:focus,input:focus-visible,input:focus-within{
  outline: 0;
}

.listStyle{
  list-style-type: none;
}

.navbarCont{
  position: fixed;
  width: fit-content;
  border: 1px solid white;
  left: 0;
  padding: 20px 15px;
  margin-right: 10px;
  height: 100vh;
  z-index: 5;
  background-color: #0003178c;
  border-radius: 0px 15px 15px 0px;
  font-family: 'Ubuntu';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  backdrop-filter: blur(4px);
}

.navbarHovEffect{
  padding: 5px 8px;
  margin: 20px 0px;
}
.navbarHovEffect:hover{
  background-color: #ffffffa1;
}
.navActiveElement{
  background-color: #ffffffa1;
}

.hideDesc{
  display: none;
}
.accountShort{
  display: none;
}

@media screen and (max-width:700px){
  .navbarCont{
    flex-direction: row;
    height: fit-content;
    width: 100vw;
    padding: 15px 20px;
    margin: 0;
    border-radius: 15px 15px 0px 0px;
    justify-content:center;
  }
  .navbarElements{
    display: flex;
    position: relative;
    left: -4%;
    width: 100%;
    justify-content: space-between;
  }
  .accountShort{
    display: block;
  }
  .hideArrow{
    display: none;
  }
  .navbarHovEffect{
    margin: 0;
  }
  .accountLarge{
    display: none;
  }
}

@media screen and (max-width:450px) {
  .searchBox input{
    width: 0;
  }
  .searchBox{
    border: 0;
  }
  .filter{
    display:none;
  }
  .searchBox:hover{
    border: 2px solid white;
    position: absolute;
    top: -20px;
    right: -150px;
  }
  .searchBox:hover .filter{
    display: block;
  }
  .searchBox:hover input{
    width: 300px;
  }
}